body {
   background-color: #0898e0f2;
}

.result {
  border: 1px solid #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
