
body {
    background-color: #0898e0f2;
    margin: 0;
    font-family: sans-serif;
}

#quiz {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.question-card {
    background-color: #1a1568;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}


.question-header {
    font-size: 0.9em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.75rem;
}

.question-text {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}


.answers {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
}


.answer-card {
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: rgba(253, 253, 255, 0.133);
    color: white;
    transition: all 0.2s ease;
}

.answer-card:hover {
    background-color: #dde6f5;
    color: #000;
}

.answer-card.selected {
    background-color: #056fa6;
    color: white;
}


#validateBtn {
    display: block;
    margin: 3rem auto;
    padding: 0.5rem 1.5rem;
    background-color: #ffffff00;
    border: none;
    color: #ff1004;
    font-weight: 600;
    cursor: pointer;
}




@media screen and (min-width: 768px) {
    .answers {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px; 
    }
}


@media screen and (min-width: 1024px) {
    .answer-card {
        font-size: 1em;
        margin-top: 25px;
        
    }

    .question-card {
        height: 200px;
}
}