body {
    background-color: #FFCDB2;
    font-size: 2rem;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    color:  #ef4e31;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}

.themes {
    display: flex;
    justify-content: center;
    gap: 25px;
}

button {
    height: 30px;
    width: auto;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;

}